<%- include('header.ejs')  %> 


<div class="container text-center my-5">
    <div class="user my-3">
        <i class="fas fa-user-secret user-icon"></i>
        <h4 class="login">Change Password</h4>
    </div>
    

    <div class="card p-5 w-50 m-auto">
        <form method="POST" action="/handelchangePass">
            <input class="form-control my-3" placeholder="Enter New Password" type="password" name="newPass">
            <% if (validMass.find(e=>e.param=='newPass')) { %>
                <div class="alert alert-warning " role="alert">
                    <p>  password must be minLength: 8, minLowercase: 1, minUppercase: 1, minNumbers: 1, minSymbols: 1</p>
                </div>
            <% } %>
            <input class="form-control my-3" placeholder="Confirm New Password" type="password" name="confirnNewPass">
            <% if (validMass.find(e=>e.param=="confirnNewPass")) { %>
                <div class="alert alert-warning " role="alert">
                    confirm Password not equel password
                </div>
            <% } %>

            <button class="btn btn-default-outline my-4 w-100 rounded">Change</button>
            
        </form>


            
    </div>
</div>




<%- include('footer.ejs')  %> 
