<%- include('header.ejs')  %> 


    <div class="container text-center py-5 my-5 text-center">
        <div class="card py-5 mb-5">
            <a href="" data-toggle="modal" data-target="#profile">
                <% if (photo!=undefined) { %>
                    <img  src="/<%= photo.photoPath %> " class="rounded avatar  " alt="">
                    <% } %>
    
                    <% if (photo==undefined) { %>
                    <img  src="/img/avatar.png" class="avatar " alt="">
                       
                        <% } %>

            </a>
            <h3 class="py-2"><%= name %> </h3>
            <div class="container w-50 m-auto">
                <form action="/handelMassage" method="post">
                    <textarea class="form-control" name="massage" id="" cols="10" rows="9" placeholder="You cannot send a Sarahah to yourself, share your profile with your friends :)"></textarea>
                    <button class="btn btn-outline-info mt-3"><i class="far fa-paper-plane"></i> Send</button>
                </form>
            </div>
        </div>
        <button data-toggle="modal" data-target="#share" class="btn btn-default-outline share "><i class="fas fa-share-alt"></i>  Share Profile</button>

    </div>




    <%- include('footer.ejs')  %> 
